/* Estilos para .root */
.root {
    width: 130rem;
    height: 100%;
    margin: auto;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 60% 1fr;
    gap: 2rem;
}

/* Estilos responsivos para .root */
@media (max-width: 768px) {
    .root {
        width: 100%;
        margin-top: 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
}
